@page
@model mission09_sr482.Pages.CartModel
@{
    ViewData["Title"] = "Cart";
}

<h2>Your Cart</h2>
@*Cart table*@
<table class="table table-dark table-bordered table-hover table-striped">
    <thead class="thead-light">
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model.Basket.Items)
        {
            <tr>
                <td>@b.Book.Title</td>
                <td>@b.Quantity</td>
                <td>$@b.Book.Price</td>
                <td>$@(b.Book.Price * b.Quantity) </td>
                <td class="text-center">
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="bookId" value="@b.Book.BookId" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td>@Model.Basket.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

@*Continue Shopping*@
<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Keep Shopping</a>
    <a class="btn btn-primary" asp-controller="Checkout" asp-action="Checkout">Checkout</a>
</div>